<h2>{{t 'rotas.holidayInformation'}}</h2>
  <h3 class="rota__holidayrange">{{info.periodHoliday}}</h3>
    <div class="tabular">
      <dl class="tabular__row">
          <dt class="tabular__key">{{t 'rotas.allowed'}}</dt>
          <dd class="tabular__value">{{info.Allowed}}</dd>
      </dl>
      <dl class="tabular__row">
          <dt class="tabular__key">{{t 'rotas.taken'}}</dt>
          <dd class="tabular__value">{{info.Taken}}</dd>
      </dl>
      <dl class="tabular__row">
          <dt class="tabular__key">{{t 'rotas.booked'}}</dt>
          <dd class="tabular__value">{{info.Booked}}</dd>
      </dl>
      {{#if displayReservedHoliday}}
      <dl class="tabular__row">
          <dt class="tabular__key">{{t 'rotas.holidaysReserved'}}</dt>
          <dd class="tabular__value">{{info.Reserved}}</dd>
      </dl>
      {{/if}}
      <dl class="tabular__row">
          <dt class="tabular__key">{{t 'rotas.remaining'}}</dt>
          <dd class="tabular__value">{{info.Remaining}}</dd>
      </dl>
      <dl class="tabular__row">
          <dt class="tabular__key">{{t 'rotas.accrued'}}</dt>
          <dd class="tabular__value">{{info.Accrued}}</dd>
      </dl>
    </div>
