<h2>Holiday Information</h2>
  <h3 class="rota__holidayrange">{{info.periodHoliday}}</h3>
    <div class="tabular">
      <dl class="tabular__row">
          <dt class="tabular__key">Allowed</dt>
          <dd class="tabular__value">{{info.allowedHoliday}}</dd>
      </dl>
      <dl class="tabular__row">
          <dt class="tabular__key">Taken</dt>
          <dd class="tabular__value">{{info.takenHoliday}}</dd>
      </dl>
      <dl class="tabular__row">
          <dt class="tabular__key">Booked</dt>
          <dd class="tabular__value">{{info.bookedHoliday}}</dd>
      </dl>
      {{#if displayReservedHoliday}}
      <dl class="tabular__row">
          <dt class="tabular__key">Holidays Reserved</dt>
          <dd class="tabular__value">{{info.reservedHoliday}}</dd>
      </dl>
      {{/if}}
      <dl class="tabular__row">
          <dt class="tabular__key">Remaining</dt>
          <dd class="tabular__value">{{info.remainingHoliday}}</dd>
      </dl>
      <dl class="tabular__row">
          <dt class="tabular__key">Accrued</dt>
          <dd class="tabular__value">{{info.accruedHoliday}}</dd>
      </dl>
    </div>
