<div class="edit">
  <div class="tab-container">
    <div class="tab-container__tab {{if nameTabSelected 'tab-container__tab--active'}}" {{action "selectTab" "name"}}>{{t 'details.name'}}</div>
    <div class="tab-container__tab {{if contactTabSelected 'tab-container__tab--active'}}" {{action "selectTab" "contact"}}>{{t 'details.contact'}}</div>
  </div>

  {{#if nameTabSelected}}
    <div class="edit__form">
      {{#dropdown-field selectedItem=editInfo.selectedTitle itmesList=editInfo.titles placeholder='Title'}}{{/dropdown-field}}
      {{#input-field value=employee.firstNames type='text' placeholder='First Name' inputId='firstName'}}{{/input-field}}
      {{#input-field value=eidtInfo.name.middleName type='text' placeholder='Middle Name(s)' inputId='middleName'}}{{/input-field}}
      {{#input-field value=employee.surname type='text' placeholder='Last Name' inputId='lastName'}}{{/input-field}}
    </div>
  {{/if}}

  {{#if contactTabSelected}}
    <div class="edit__form">
      {{#input-field value=employee.address1 type='text' placeholder='Address 1' inputId='address1'}}{{/input-field}}
      {{#input-field value=employee.address2 type='text' placeholder='Address 2' inputId='address2'}}{{/input-field}}
      {{#input-field value=employee.address3 type='text' placeholder='Address 3' inputId='address3'}}{{/input-field}}
      {{#input-field value=employee.town type='text' placeholder='Town' inputId='town'}}{{/input-field}}
      {{#input-field value=employee.county type='text' placeholder='County' inputId='county'}}{{/input-field}}
      {{#input-field value=employee.country type='text' placeholder='Country' inputId='country'}}{{/input-field}}
      {{#input-field value=employee.postCode type='text' placeholder='Post code' inputId='postCode'}}{{/input-field}}
      {{#input-field value=employee.homeTel type='text' placeholder='Home Phone' inputId='homeTel'}}{{/input-field}}
      {{#input-field value=employee.mobileTel type='text' placeholder='Mobile Phone' inputId='mobileTel'}}{{/input-field}}
      {{#input-field value=employee.homeEmail type='text' placeholder='Home Email' inputId='homeEmail'}}{{/input-field}}
      {{#input-field value=employee.workEmail type='text' placeholder='Work Email ' inputId='workEmail'}}{{/input-field}}
    </div>
  {{/if}}

</div>

<!--<button type="submit" name="edit-save-btn" class="edit-save-btn">Save</button>-->
