<header class="header">
  {{#if showEmployeeDropdown}}
    {{employee-select
      employees=model
      selectedEmployeeId=appStateService.authenticatedEmployeeId
      setCurrentEmployee="setCurrentEmployee"
    }}
  {{/if}}
  <div class="header--brand">
    <svg class="header--logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 176 50.5" enable-background="new 0 0 176 50.5" xml:space="preserve">
      <path fill="#93C13E" d="M25.2,0C11.3,0,0,11.3,0,25.2c0,13.9,11.3,25.2,25.2,25.2c13.9,0,25.2-11.3,25.2-25.2
                              C50.5,11.3,39.2,0,25.2,0 M25.2,41.9c-9.2,0-16.6-7.4-16.6-16.6c0-9.2,7.4-16.6,16.6-16.6c9.2,0,16.6,7.4,16.6,16.6
                              C41.9,34.4,34.4,41.9,25.2,41.9" />
      <path fill="#F29220" d="M67.1,0C53.2,0,41.9,11.3,41.9,25.2v0h8.6v0c0-9.2,7.4-16.6,16.6-16.6c9.2,0,16.6,7.4,16.6,16.6
                              c0,9.2-7.4,16.6-16.6,16.6h0l-3.2,4.3l3.2,4.3h0c13.9,0,25.2-11.3,25.2-25.2C92.3,11.3,81,0,67.1,0" />
      <path fill="#39A8DF" d="M108.9,50.5c-13.9,0-25.2-11.3-25.2-25.2v0l8.6,0v0c0,9.2,7.4,16.6,16.6,16.6c9.2,0,16.6-7.4,16.6-16.6
                              c0-9.2-7.4-16.6-16.6-16.6h0l-3.2-4.3l3.2-4.3h0c13.9,0,25.2,11.3,25.2,25.2C134.2,39.2,122.9,50.5,108.9,50.5" />
      <path fill="#D21C53" d="M125.6,25.2c0,13.9,11.3,25.2,25.2,25.2h0v-8.6h0c-9.2,0-16.6-7.4-16.6-16.6c0-9.2,7.4-16.6,16.6-16.6
                              c9.2,0,16.6,7.4,16.6,16.6v0l4.3,3.2l4.3-3.2v0C176,11.3,164.7,0,150.8,0C136.9,0,125.6,11.3,125.6,25.2" />
    </svg>
  </div>
  <nav class="nav">
    <ul>
      <li>
        {{#link-to 'rotas' class="nav link brand-after-bg"}}{{t 'menu.rotas'}} {{/link-to}}
      </li>
      <li>
        {{#link-to 'payslips' class="nav link brand-after-bg"}}{{t 'menu.payslips'}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'details' class="nav link brand-after-bg"}}{{t 'menu.details'}}{{/link-to}}
      </li>
    </ul>
  </nav>
</header>


{{outlet}}