<header class="header">
  <div class="header--brand">
    {{partial "partials/fourth-logo"}}
  </div>
  <nav class="nav">
    <ul>
      <li>
        {{#link-to 'rotas' class="nav link brand-after-bg"}}{{t 'menu.rotas'}} {{/link-to}}
      </li>
      <li>
        {{#link-to 'payslips' class="nav link brand-after-bg"}}{{t 'menu.payslips'}}{{/link-to}}
      </li>
      <li>
        {{#link-to 'details' class="nav link brand-after-bg"}}{{t 'menu.details'}}{{/link-to}}
      </li>
    </ul>
  </nav>
</header>


{{outlet}}