<div class="details">

  <div class="card">
    <h1>{{t 'details.employee.details'}}</h1>
    {{hr-employee employee=attrs.employee}}
  </div>

  <div class="card">
    <h1>{{t 'details.employer.details'}}</h1>
    {{hr-employer employment=employment}}
  </div>

  <div class="card">
    <h1>{{t 'details.employment.details'}}</h1>
    {{hr-employment employment=employment}}
  </div>

</div>