<div class="details">

  <div class="details__employer">

    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employment.details'}}</h2>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.name'}}</dt>
        <dd class="tabular__value">{{attrs.employment.company.companyName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.location'}}</dt>
        <dd class="tabular__value">{{attrs.employment.location.locationName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employment.location.address1}}
          <br />{{attrs.employment.location.address2}}
          <br />{{attrs.employment.location.town}}
          <br />{{attrs.employment.location.postCode}}
        </dd>
      </dl>

      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.phone'}}</dt>
        <dd class="tabular__value">{{attrs.employment.location.phone}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.fax'}}</dt>
        <dd class="tabular__value">{{attrs.employment.location.fax}}</dd>
      </dl>
    </div>

  </div>

  <div class="details__employee">

    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employee.details'}}</h2>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.name'}}</dt>
        <dd class="tabular__value">{{attrs.employee.fullName}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Employee number</dt>
        <dd class="tabular__value">{{attrs.employee.employeeNumber}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Start date</dt>
        <dd class="tabular__value">{{attrs.employee.startDate}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Service duration</dt>
        <dd class="tabular__value">{{attrs.employee.serviceDuration}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">NI Number</dt>
        <dd class="tabular__value">{{attrs.employee.NINumber}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employee.address1}}
          {{#unless isBlankAddress2}}
            <br />{{attrs.employee.address2}}
          {{/unless}}
          {{#unless isBlankAddress3}}
            <br />{{attrs.employee.address3}}
          {{/unless}}
            <br />{{attrs.employee.town}}
          {{#unless isBlankCounty}}
            <br />{{attrs.employee.county}}
          {{/unless}}
          {{#unless isBlankCountry}}
            <br />{{attrs.employee.country}}
          {{/unless}}
          <br />{{attrs.employee.postCode}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.homeTel'}}</dt>
        <dd class="tabular__value">{{attrs.employee.homeTel}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.mobileTel'}}</dt>
        <dd class="tabular__value">{{attrs.employee.mobileTel}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Home email</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.homeEmail}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.workEmail'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.workEmail}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Nationality</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.nationality}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.dateOfBirth'}}</dt>
        <dd class="tabular__value">{{attrs.employee.dateOfBirth}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">Gender</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.gender}}</dd>
      </dl>
    </div>
  </div>

</div>