<div class="details">

  <div class="details__employment">
    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employment.details'}}</h2>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.location'}}</dt>
        <dd class="tabular__value">{{attrs.employment.locationName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.division'}}</dt>
        <dd class="tabular__value">{{attrs.employment.division}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.jobTitle'}}</dt>
        <dd class="tabular__value">{{attrs.employment.jobTitle}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.payType'}}</dt>
        <dd class="tabular__value">{{attrs.employment.payType}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employment.locationAddress1}}
          {{#if attrs.employment.locationAddress2}}
          <br />{{attrs.employment.locationAddress2}}
          {{/if}}
           {{#if attrs.employment.locationAddress3}}
          <br />{{attrs.employment.locationAddress3}}
          {{/if}}
          {{#if attrs.employment.locationTown}}
          <br />{{attrs.employment.locationTown}}
          {{/if}}
          {{#if attrs.employment.locationCounty}}
          <br />{{attrs.employment.locationCounty}}
          {{/if}}
          <br />{{attrs.employment.locationPostCode}}
        </dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.phone'}}</dt>
        <dd class="tabular__value">{{attrs.employment.locationPhone}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.fax'}}</dt>
        <dd class="tabular__value">{{attrs.employment.locationFax}}</dd>
      </dl>
    </div>
  </div>

  <div class="details__employee">
    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employee.details'}}</h2>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.name'}}</dt>
        <dd class="tabular__value">{{attrs.employee.fullName}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.employeeNumber'}}</dt>
        <dd class="tabular__value">{{attrs.employee.employeeNumber}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.startDate'}}Start date</dt>
        <dd class="tabular__value">{{attrs.employee.startDate}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.serviceDuration'}}</dt>
        <dd class="tabular__value">{{attrs.employee.serviceDuration}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.niNumber'}}</dt>
        <dd class="tabular__value">{{attrs.employee.niNumber}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employee.address1}}
          {{#if attrs.employee.address2}}
            <br />{{attrs.employee.address2}}
          {{/if}}
          {{#if attrs.employee.address3}}
            <br />{{attrs.employee.address3}}
          {{/if}}
            <br />{{attrs.employee.town}}
          {{#if attrs.employee.county}}
            <br />{{attrs.employee.county}}
          {{/if}}
          {{#if attrs.employee.country}}
            <br />{{attrs.employee.country}}
          {{/if}}
          <br />{{attrs.employee.postCode}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.homeTel'}}</dt>
        <dd class="tabular__value">{{attrs.employee.homeTel}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.mobileTel'}}</dt>
        <dd class="tabular__value">{{attrs.employee.mobileTel}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.homeEmail'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.homeEmail}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.workEmail'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.workEmail}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.nationality'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.nationality}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.dateOfBirth'}}</dt>
        <dd class="tabular__value">{{attrs.employee.dateOfBirth}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.gender'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.gender}}</dd>
      </dl>
    </div>
  </div>

  <div class="details__employer">
    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employer.details'}}</h2>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.name'}}</dt>
        <dd class="tabular__value">{{attrs.employment.companyName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employment.companyAddress1}}
          {{#if attrs.employment.companyAddress2}}
          <br />{{attrs.employment.companyAddress2}}
          {{/if}}
          {{#if attrs.employment.companyAddress3}}
          <br />{{attrs.employment.companyAddress3}}
          {{/if}}
          {{#if attrs.employment.companyTown}}
          <br />{{attrs.employment.companyTown}}
          {{/if}}
          {{#if attrs.employment.companyCounty}}
          <br />{{attrs.employment.companyCounty}}
          {{/if}}
          <br />{{attrs.employment.companyPostCode}}
        </dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.phone'}}</dt>
        <dd class="tabular__value">{{attrs.employment.companyPhone}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.fax'}}</dt>
        <dd class="tabular__value">{{attrs.employment.companyFax}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employer.taxOfficeName'}}</dt>
        <dd class="tabular__value">{{attrs.employment.taxOfficeName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employer.taxOfficeNumber'}}</dt>
        <dd class="tabular__value">{{attrs.employment.taxOfficeNumber}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employer.payeReference'}}</dt>
        <dd class="tabular__value">{{attrs.employment.payeReference}}</dd>
      </dl>
    </div>
  </div>

</div>