<div class="details">

  <div class="details__employer">

    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employment.details'}}</h2>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.name'}}</dt>
        <dd class="tabular__value">{{attrs.employment.company.companyName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.location'}}</dt>
        <dd class="tabular__value">{{attrs.employment.location.locationName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employment.location.address1}}
          <br />{{attrs.employment.location.address2}}
          <br />{{attrs.employment.location.town}}
          <br />{{attrs.employment.location.postCode}}
        </dd>
      </dl>

      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.phone'}}</dt>
        <dd class="tabular__value">{{attrs.employment.location.phone}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'details.employment.fax'}}</dt>
        <dd class="tabular__value">{{attrs.employment.location.fax}}</dd>
      </dl>
    </div>

  </div>

  <div class="details__employee">

    <div class="tabular">
      <h2 class="tabular__heading">{{t 'details.employee.details'}}</h2>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.name'}}</dt>
        <dd class="tabular__value">{{attrs.employee.fullName}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.employeeNumber'}}</dt>
        <dd class="tabular__value">{{attrs.employee.employeeNumber}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.startDate'}}Start date</dt>
        <dd class="tabular__value">{{attrs.employee.startDate}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.serviceDuration'}}</dt>
        <dd class="tabular__value">{{attrs.employee.serviceDuration}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.niNumber'}}</dt>
        <dd class="tabular__value">{{attrs.employee.niNumber}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{attrs.employee.address1}}
          {{#if attrs.employee.address2}}
            <br />{{attrs.employee.address2}}
          {{/if}}
          {{#if attrs.employee.address3}}
            <br />{{attrs.employee.address3}}
          {{/if}}
            <br />{{attrs.employee.town}}
          {{#if attrs.employee.county}}
            <br />{{attrs.employee.county}}
          {{/if}}
          {{#if attrs.employee.country}}
            <br />{{attrs.employee.country}}
          {{/if}}
          <br />{{attrs.employee.postCode}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.homeTel'}}</dt>
        <dd class="tabular__value">{{attrs.employee.homeTel}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.mobileTel'}}</dt>
        <dd class="tabular__value">{{attrs.employee.mobileTel}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.homeEmail'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.homeEmail}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.workEmail'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.workEmail}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.nationality'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.nationality}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.dateOfBirth'}}</dt>
        <dd class="tabular__value">{{attrs.employee.dateOfBirth}}</dd>
      </dl>
      <dl class="tabular__row tabular__row--nobg">
        <dt class="tabular__key">{{t 'details.employee.gender'}}</dt>
        <dd class="tabular__value tabular__value--wide">{{attrs.employee.gender}}</dd>
      </dl>
    </div>
  </div>

</div>