{{! rota-hour-bars dayStart=week.meta.dayStartAsMinutes dayEnd=week.meta.dayEndAsMinutes }}
<h1 class="card--title -center">{{week.formattedDateRange}}</h1>
{{#each days as |day index|}}
  {{rota-day
     day=day
     selectedShift=selectedShift
     selectedOverlap=selectedOverlap
     selectTarget=selectTarget
     dayIndex=index
  }}
{{else}}
  <div class="rota-notice">
    <div class="rota-message">{{t "rotas.noRotasForWeek"}}</div>
  </div>
{{/each}}
<small class=“rota-disclaimer">{{t "rotas.infoIcon"}} <em>{{t "rotas.subjectToChange"}}</em></small>
