<div class="edit-employee-header brand-bg">
  <a id="close-modal" {{action "closeModal"}}>
    {{svg-icon name="chevron-left"}}
  </a>
  <div class="edit-employee-header__title">
    {{t 'details.editDetails.headerTitle'}}
  </div>
  <a id="save-modal" {{action "saveAction"}}>
  <span class="save-text">{{t 'details.editDetails.saveButtonText'}}</span>
  {{svg-icon name="tick-icon"}}
</a>
</div>
{{tabbed-container tabs=tabContainerConfig}}
