<div style={{wrapStyles}} class="swipe-container--wrap {{if isPanning '-dragging'}}">
  {{yield}}
</div>
{{#unless isTouch}}
  <div class="swipe-container--arrow -left {{if isFirst '-disabled'}}" {{action "prevPage"}}>
    {{svg-icon name="chevron-left"}}
  </div>
  <div class="swipe-container--arrow -right {{if isLast '-disabled'}}" {{action "nextPage"}}>
    {{svg-icon name="chevron-right"}}
  </div>
{{/unless}}