<div {{bind-attr style=wrapStyles}} {{bind-attr class=":swipe-container--wrap isPanning:-dragging isMoving:-moving"}}>
  {{yield}}
</div>
{{#unless isTouch}}
  <div {{bind-attr class=":swipe-container--arrow :-left isFirst:-disabled"}} {{action "prevPage"}}>
    {{svg-icon name="chevron-left"}}
  </div>
  <div {{bind-attr class=":swipe-container--arrow :-right isLast:-disabled"}} {{action "nextPage"}}>
    {{svg-icon name="chevron-right"}}
  </div>
{{/unless}}
{{swipe-tabs
  collection=collection
  selectedIndex=selectedIndex
  tabPropertyKey=tabPropertyKey
  setSelectedIndex="setSelectedIndex"
}}
