<div {{bind-attr style=wrapStyles}} {{bind-attr class=":swipe--wrap isPanning:swipe--dragging isMoving:swipe--moving"}}>
  {{yield}}
</div>
{{#unless isTouch}}
  <div {{bind-attr class=":swipe--arrow :swipe-left isFirst:disabled"}} {{action "prevPage"}}>
    {{svg-icon name="chevron-left"}}
  </div>
  <div {{bind-attr class=":swipe--arrow :swipe-right isLast:disabled"}} {{action "nextPage"}}>
    {{svg-icon name="chevron-right"}}
  </div>
{{/unless}}
{{swipe-tabs
  collection=collection
  selectedIndex=selectedIndex
  tabPropertyKey=tabPropertyKey
  setSelectedIndex="setSelectedIndex"
}}
