<div class="rota__overview">
  <div class="rota__day">
    {{moment day.shiftDate format="ddd D"}}
  </div>
  {{#if day.shifts}}
  <span class="rota__hours">
    {{svg-icon name="shift" class="rota__icon"}}
    {{#each day.shifts as |shift index|}}
      {{#if index}}<span class="rota__split">&amp;</span>{{/if}}
      {{shift.start}}-{{shift.end}}
    {{/each}}
  </span>
  {{/if}}
  {{#if isNotRota}}
  <span class="rota__hours">
    {{day.type}}
  </span>
  {{/if}}
</div>
{{rota-bar
   shifts=day.shifts
   empty=isNotRota
   selectedSegmentIndex=selectedSegmentIndex
   dayIndex=dayIndex
   selectedDayIndex=selectedDayIndex
   weekIndex=weekIndex
   selectedWeekIndex=selectedWeekIndex
   selectTarget=selectTarget
}}