<div class="rota-day--overview">
  <div class="rota-day--row">
    {{moment day.shiftDate format="ddd D"}}
  </div>
  {{#if day.shifts}}
    <span class="rota-day--hours">
      {{svg-icon name="clock"}}
      {{#each day.shifts as |shift index|}}
        {{#if index}}<span>&amp;</span>{{/if}}
        {{shift.start}}-{{shift.end}}
      {{/each}}
    </span>
  {{/if}}
  {{#if isNotRota}}
    <span class="rota-day--hours">
      {{day.type}}
    </span>
  {{/if}}
</div>
{{rota-bar
  shifts=day.shifts
  empty=isNotRota
  selectedShift=selectedShift
  selectTarget=selectTarget
  dayIndex=dayIndex
  isInPast=isInPast
}}
