<div class="rota__overview">
  <div class="rota__day">
    {{moment shift.shiftDate format="ddd D"}}
  </div>
  {{#if shift.shifts}}
  <span class="rota__hours">
    {{svg-icon name="shift" class="rota__icon"}}
    {{#each shift.shifts as |shift index|}}
      {{#if index}}<span class="rota__split">&amp;</span>{{/if}}
      {{shift.start}}-{{shift.end}}
    {{/each}}
  </span>
  {{/if}}
  {{#if isNotRota}}
  <span class="rota__hours">
    {{shift.type}}
  </span>
  {{/if}}
</div>
{{rota-bar shifts=shift.shifts empty=isNotRota}}
