<div class="edit-contact__form">
  {{input-field value=model.address1 type='text' placeholder=(t 'details.employee.address1') inputId='address1'}}
  {{input-field value=model.address2 type='text' placeholder=(t 'details.employee.address2') inputId='address2'}}
  {{input-field value=model.address3 type='text' placeholder=(t 'details.employee.address3') inputId='address3'}}
  {{input-field value=model.town type='text' placeholder=(t 'details.employee.town') inputId='town'}}
  {{input-field value=model.county type='text' placeholder=(t 'details.employee.county') inputId='county'}}
  {{input-field value=model.country type='text' placeholder=(t 'details.employee.country') inputId='country'}}
  {{input-field value=model.postCode type='text' placeholder=(t 'details.employee.postCode') inputId='postCode'}}
  {{input-field value=model.homeTel type='text' placeholder=(t 'details.employee.homeTel') inputId='homeTel'}}
  {{input-field value=model.mobileTel type='text' placeholder=(t 'details.employee.mobileTel') inputId='mobileTel'}}
  {{input-field value=model.homeEmail type='text' placeholder=(t 'details.employee.homeEmail') inputId='homeEmail'}}
  {{input-field value=model.workEmail type='text' placeholder=(t 'details.employee.workEmail') inputId='workEmail'}}
</div>
