<div class="edit-contact__form">
  {{input-field value=model.address1 type='text' placeholder=(t 'details.employee.address1') inputId='address1' mandatory=true model=model}}
  {{input-field value=model.address2 type='text' placeholder=(t 'details.employee.address2') inputId='address2' model=model}}
  {{input-field value=model.address3 type='text' placeholder=(t 'details.employee.address3') inputId='address3' model=model}}
  {{input-field value=model.town type='text' placeholder=(t 'details.employee.town') inputId='town' mandatory=true model=model}}
  {{input-field value=model.county type='text' placeholder=(t 'details.employee.county') inputId='county' model=model}}
  {{input-field value=model.country type='text' placeholder=(t 'details.employee.country') inputId='country' model=model}}
  {{input-field value=model.postCode type='text' placeholder=(t 'details.employee.postCode') inputId='postCode' model=model}}
  {{input-field value=model.homeTel type='text' placeholder=(t 'details.employee.homeTel') inputId='homeTel' model=model}}
  {{input-field value=model.mobileTel type='text' placeholder=(t 'details.employee.mobileTel') inputId='mobileTel' model=model}}
  {{input-field value=model.homeEmail type='text' placeholder=(t 'details.employee.homeEmail') inputId='homeEmail' model=model}}
  {{input-field value=model.workEmail type='text' placeholder=(t 'details.employee.workEmail') inputId='workEmail' model=model}}
</div>
