{{#if payslips.length}}
  {{#swipe-container
    collection=payslips
    tabPropertyKey="formattedProcessingDate"
    selectedIndex=attrs.selectedIndex
    isPanning=attrs.isPanning
    setSelectedIndex="setSelectedIndex"
  }}
    {{#each payslips as |payslip index|}}
      {{#swipe-item
        index=index
        selectedIndex=attrs.selectedIndex
      }}
        {{#flip-card height="388" breakpoint="(min-width: 40em)"}}

          {{#flip-card-front}}
            {{payslip-overview
              payslip=payslip
              index=index
              selectedIndex=attrs.selectedIndex
            }}
          {{/flip-card-front}}

          {{#flip-card-back}}
            {{payslip-detail
              payslip=payslip
              index=index
              selectedIndex=attrs.selectedIndex
            }}
          {{/flip-card-back}}

        {{/flip-card}}
      {{/swipe-item}}
    {{/each}}
  {{/swipe-container}}
  {{swipe-tabs
    collection=payslips
    selectedIndex=attrs.selectedIndex
    tabPropertyKey="formattedProcessingDate"
    setSelectedIndex="setSelectedIndex"
    cssNamespace="-payslip"
  }}
  <div class="payslip--breakdown">
    <h2>{{t 'payslips.historic'}}</h2>
    {{payslips-time-chart
      payslips=payslips selectedIndex=attrs.selectedIndex setSelectedIndex="setSelectedIndex"}}
  </div>
{{else}}
  <div class="swipe-container">
    <div class="swipe-container--wrap">
      <div class="swipe-item">
        <div class="card -empty-payslips">
          <h1>{{t 'payslips.noPayslips'}}</h1>
          <p>{{t 'payslips.noPayslipsAvailable'}}</p>
          <p>{{t 'payslips.noPayslipsAdvice'}}</p>
        </div>
      </div>
    </div>
  </div>
{{/if}}
