<span class="rota-shift--solid {{selectedClass}} {{pastClass}} brand-bg brand-before-bg">
  {{#tool-tip classNameBindings="tooltipLocation" active=selected}}
    <p>{{svg-icon name="clock"}} <strong>{{shift.start}}-{{shift.end}}</strong> {{shift.type}}</p>
    <p>{{svg-icon name="location"}} {{shift.location}}</p>
    <p>{{svg-icon name="user"}} {{shift.jobTitle}}</p>
  {{/tool-tip}}
</span>