<span class="rota-shift--solid {{selectedClass}} brand-bg brand-before-bg" {{action 'selectSegment'}}></span>

{{#tool-tip classNames="-right" active=selected}}
  <p>{{svg-icon name="location"}} {{selectedShift.location}}</p>
  <p>{{svg-icon name="user"}} {{selectedShift.jobTitle}}</p>
{{/tool-tip}}