<div class="tabular">

  <h3 class="tabular--sub -title">
    {{moment payslip.processingDate format="dayMonthYear"}}
    <a class="notALink payslip-detail--show-overview flip-card--trigger" {{action "flipCard" target="parentView"}}>
      {{svg-icon name="x"}}
    </a>
  </h3>

  <h3 class="tabular--sub -highlight brand-bg">{{t 'payslips.payments'}}</h3>
  {{#each payslip.payments as |payment|}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{payment.label}}</dt>
      <dd class="tabular--value">{{currency payment.amount unit='£'}}</dd>
    </dl>
  {{/each}}
  <dl class="tabular--row">
    <dt class="tabular--key -wide"><strong>{{t 'payslips.totalPayments'}}</strong></dt>
    <dd class="tabular--value"><strong>{{currency payslip.currentGrossPay unit='£'}}</strong></dd>
  </dl>

  <h3 class="tabular--sub">{{t 'payslips.deductions'}}</h3>
  {{#each payslip.deductions as |deduction|}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{deduction.label}}</dt>
      <dd class="tabular--value">{{currency deduction.amount unit='£'}}</dd>
    </dl>
  {{/each}}
  <dl class="tabular--row">
    <dt class="tabular--key -wide"><strong>{{t 'payslips.totalDeductions'}}</strong></dt>
    <dd class="tabular--value"><strong>{{currency payslip.totalDeductions unit='£'}}</strong></dd>
  </dl>

  <h3 class="tabular--sub">{{t 'payslips.periodTotals'}}</h3>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.grossPay'}}</dt>
    <dd class="tabular--value">{{currency payslip.currentGrossPay unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.taxablePay'}}</dt>
    <dd class="tabular--value">{{currency payslip.grossTaxable unit='£'}}</dd>
  </dl>
  {{#if payslip.grossNIContribution}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.earningsNI'}}</dt>
      <dd class="tabular--value">{{currency payslip.grossNIContribution unit='£'}}</dd>
    </dl>
  {{/if}}
  {{#if payslip.showEmployerPensionContribution}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.employerPensionContrib'}}</dt>
      <dd class="tabular--value">{{currency payslip.employerPensionContribution unit='£'}}</dd>
    </dl>
  {{/if}}
  {{#if payslip.employeePension}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.employerStakePensionContrib'}}</dt>
      <dd class="tabular--value">{{currency payslip.employeePension unit='£'}}</dd>
    </dl>
  {{/if}}

  <h3 class="tabular--sub">{{t 'payslips.yearToDateTotals'}}</h3>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.grossPayYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.totalGrossPayToDate unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.taxablePayYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.grossPayForTaxToDate unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.taxYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.taxDueToDate unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.nationalInsuranceYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.niContributionToDate unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.employerNIContribYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.employerNIContributionToDate unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.employerPensionContribYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.employerPensionToDate unit='£'}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key -wide">{{t 'payslips.employeePensionContribYTD'}}</dt>
    <dd class="tabular--value">{{currency payslip.employeePensionToDate unit='£'}}</dd>
  </dl>

  {{#if payslip.employeeAVCToDate}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.employeeAVCYTD'}}</dt>
      <dd class="tabular--value">{{currency payslip.employeeAVCToDate unit='£'}}</dd>
    </dl>
  {{/if}}
  {{#if payslip.employeeFSAVCToDate}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.employeeFSAVCYTD'}}</dt>
      <dd class="tabular--value">{{currency payslip.employeeFSAVCToDate unit='£'}}</dd>
    </dl>
  {{/if}}
  {{#if payslip.payPreEmployment}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.payFromPreviousEmploymentYTD'}}</dt>
      <dd class="tabular--value">{{currency payslip.payPreEmployment unit='£'}}</dd>
    </dl>
  {{/if}}
  {{#if payslip.taxPreEmployment}}
    <dl class="tabular--row">
      <dt class="tabular--key -wide">{{t 'payslips.taxFromPreviousEmploymentYTD'}}</dt>
      <dd class="tabular--value">{{currency payslip.taxPreEmployment unit='£'}}</dd>
    </dl>
  {{/if}}

  <h3 class="tabular--sub">{{t 'payslips.payslipDetails'}}</h3>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.name'}}</dt>
    <dd class="tabular--value">{{payslip.fullName}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.date'}}</dt>
    <dd class="tabular--value">{{moment payslip.processingDate format="dayMonthYear"}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.company'}}</dt>
    <dd class="tabular--value">{{payslip.companyName}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.week'}}/{{t 'payslips.month'}}</dt>
    <dd class="tabular--value">{{payslip.currentPayPeriod}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.employeeNumber'}}</dt>
    <dd class="tabular--value">{{payslip.employeeNumber}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.niNumber'}}</dt>
    <dd class="tabular--value">{{payslip.nationalInsuranceNumber}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.taxCode'}}</dt>
    <dd class="tabular--value">{{payslip.taxCode}}</dd>
  </dl>
  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.payMethod'}}</dt>
    <dd class="tabular--value">{{payslip.paymentMethodDescription}}</dd>
  </dl>

  <dl class="tabular--row">
    <dt class="tabular--key">{{t 'payslips.address'}}</dt>
    <dd class="tabular--value tabular--value--wide">
      {{#if payslip.fullName}}
        {{payslip.fullName}}
        <br />
      {{/if}}
      {{payslip.address1}}
      {{#if payslip.address2}}
        <br />{{payslip.address2}}
      {{/if}}
      {{#if payslip.address3}}
        <br />{{payslip.address3}}
      {{/if}}
      {{#if payslip.address4}}
        <br />{{payslip.address4}}
      {{/if}}
      {{#if payslip.town}}
        <br />{{payslip.town}}
      {{/if}}
      {{#if payslip.county}}
        <br />{{payslip.county}}
      {{/if}}
      {{#if payslip.postCode}}
      <br />{{payslip.postCode}}
      {{/if}}
      {{#if payslip.postalCode}}
        <br />{{payslip.postalCode}}
      {{/if}}
    </dd>
  </dl>

</div>
