<div class="card__wrap {{if flipped 'card__wrap--flipped'}}">
  <div class="card__front">
    <h1>{{formattedProcessingDate}}</h1>
    {{payslip-donut-chart grossPay=payslip.currentGrossPay netPay=payslip.netPay isActive=isActive}}
    <a class="notALink payslip__show card__flipme" {{action 'flip'}}>
      {{svg-icon name="paper-list"}}
      <span>{{t 'payslips.breakdown'}}</span>
    </a>
    <a href="#" class="payslip__download">
      {{svg-icon name="download"}}
      <span>{{t 'payslips.download'}}</span>
    </a>
  </div>
  <div class="card__back">
    <div class="tabular">
      <a class="notALink tabular__close" {{action 'flip'}}>
        {{svg-icon name="x"}}
      </a>
      <h3 class="tabular__sub tabular__sub--title">19 March 2015</h3>

      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.name'}}</dt>
        <dd class="tabular__value">{{payslip.accountName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.company'}}</dt>
        <dd class="tabular__value">{{payslip.companyName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.netPayment'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.netPay}}</dd>
      </dl>

      <h3 class="tabular__sub tabular__sub--highlight brand-bg">{{t 'payslips.payments'}}</h3>
      {{#each payslip.payments as |payment|}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{payment.label}}</dt>
          <dd class="tabular__value">&pound;{{payment.amount}}</dd>
        </dl>
      {{/each}}
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>{{t 'payslips.totalPayments'}}</strong></dt>
        <dd class="tabular__value"><strong>&pound;{{payslip.currentGrossPay}}</strong></dd>
      </dl>

      <h3 class="tabular__sub">{{t 'payslips.deductions'}}</h3>
      {{#each payslip.deductions as |deduction|}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{deduction.label}}</dt>
          <dd class="tabular__value">&pound;{{deduction.amount}}</dd>
        </dl>
      {{/each}}
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>{{t 'payslips.totalDeductions'}}</strong></dt>
        <dd class="tabular__value"><strong>&pound;{{payslip.totalDeductions}}</strong></dd>
      </dl>

      <h3 class="tabular__sub">{{t 'payslips.periodTotals'}}</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.grossPay'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.currentGrossPay}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.taxablePay'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.grossTaxable}}</dd>
      </dl>
      {{#if payslip.grossNIContribution}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.earningsNI'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.grossNIContribution}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.employeePension}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.employerPensionContrib'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.employeePension}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.employerSHPTotal}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.employerStakePensionContrib'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.employerSHPTotal}}</dd>
        </dl>
      {{/if}}

      <h3 class="tabular__sub">{{t 'payslips.yearToDateTotals'}}</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.grossPayYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.totalGrossPayToDate}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.taxablePayYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.grossPayForTaxToDate}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.taxYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.taxDueToDate}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.nationalInsuranceYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.grossNIContributionToDate}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.employerNIContribYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.niContributionToDate}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.employerPensionContribYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.employerPensionToDate}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.employeePensionContribYTD'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.employeePensionToDate}}</dd>
      </dl>

      {{#if payslip.employeeAVCToDate}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.employeeAVCYTD'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.employeeAVCToDate}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.employeeFSAVCToDate}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.employeeFSAVCYTD'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.employeeFSAVCToDate}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.payPreEmployment}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.payFromPreviousEmploymentYTD'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.payPreEmployment}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.taxPreEmployment}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.taxFromPreviousEmploymentYTD'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.taxPreEmployment}}</dd>
        </dl>
      {{/if}}

      <h3 class="tabular__sub">{{t 'payslips.payslipDetails'}}</h3>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'payslips.payPeriod'}}</dt>
        <dd class="tabular__value">{{payslip.monthWeekNumber}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'payslips.employeeNumber'}}</dt>
        <dd class="tabular__value">{{payslip.employeeNumber}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'payslips.niNumber'}}</dt>
        <dd class="tabular__value">{{payslip.nationalInsuranceNumber}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'payslips.taxCode'}}</dt>
        <dd class="tabular__value">{{payslip.taxCode}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'payslips.payMethod'}}</dt>
        <dd class="tabular__value">{{payslip.paymentMethodDescription}}</dd>
      </dl>

      <dl class="tabular__row">
        <dt class="tabular__key">{{t 'payslips.address'}}</dt>
        <dd class="tabular__value tabular__value--wide">
          {{payslip.accountName}}
          <br />{{payslip.address1}}
          {{#if payslip.address2}}
            <br />{{payslip.address2}}
          {{/if}}
          {{#if payslip.address3}}
            <br />{{payslip.address3}}
          {{/if}}
          {{#if payslip.address4}}
            <br />{{payslip.address4}}
          {{/if}}
          {{#if payslip.town}}
            <br />{{payslip.town}}
          {{/if}}
          {{#if payslip.county}}
            <br />{{payslip.county}}
          {{/if}}
          <br />{{payslip.postCode}}
        </dd>
      </dl>

    </div>
  </div>
</div>