<div class="card__wrap {{if flipped 'card__wrap--flipped'}}">
  <div class="card__front">
    <h1>{{formattedProcessingDate}}</h1>
    {{payslip-donut-chart grossPay=payslip.currentGrossPay netPay=payslip.netPay isActive=isActive}}
    <a class="notALink payslip__show card__flipme" {{action 'flip'}}>
      {{svg-icon name="paper-list"}}
      <span>{{t 'payslips.breakdown'}}</span>
    </a>
    <a href="#" class="payslip__download">
      {{svg-icon name="download"}}
      <span>{{t 'payslips.download'}}</span>
    </a>
  </div>
  <div class="card__back">
    <div class="tabular">
      <a class="notALink tabular__close" {{action 'flip'}}>
        {{svg-icon name="x"}}
      </a>
      <h3 class="tabular__sub tabular__sub--title">19 March 2015</h3>

      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.name'}}</dt>
        <dd class="tabular__value">{{payslip.accountName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.company'}}</dt>
        <dd class="tabular__value">{{payslip.companyName}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.netPayment'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.netPay}}</dd>
      </dl>

      <h3 class="tabular__sub tabular__sub--highlight brand-bg">{{t 'payslips.payments'}}</h3>
      {{#each payslip.payments as |payment|}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{payment.description}}</dt>
          <dd class="tabular__value">&pound;{{payment.amount}}</dd>
        </dl>
      {{/each}}
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>{{t 'payslips.totalPayments'}}</strong></dt>
        <dd class="tabular__value"><strong>&pound;{{payslip.currentGrossPay}}</strong></dd>
      </dl>

      <h3 class="tabular__sub">{{t 'payslips.deductions'}}</h3>
      {{#each payslip.deductions as |deduction|}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{deduction.description}}</dt>
          <dd class="tabular__value">&pound;{{deduction.amount}}</dd>
        </dl>
      {{/each}}
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>{{t 'payslips.totalDeductions'}}</strong></dt>
        <dd class="tabular__value"><strong>&pound;{{payslip.totalDeductions}}</strong></dd>
      </dl>

      <h3 class="tabular__sub">{{t 'payslips.periodTotals'}}</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.grossPay'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.currentGrossPay}}</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">{{t 'payslips.taxablePay'}}</dt>
        <dd class="tabular__value">&pound;{{payslip.grossTaxable}}</dd>
      </dl>

      {{#if payslip.grossNIContribution}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.earningsNI'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.grossNIContribution}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.employeePension}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.employerPensionContrib'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.employeePension}}</dd>
        </dl>
      {{/if}}
      {{#if payslip.employerSHPTotal}}
        <dl class="tabular__row">
          <dt class="tabular__key tabular__key--wide">{{t 'payslips.employerStakePensionContrib'}}</dt>
          <dd class="tabular__value">&pound;{{payslip.employerSHPTotal}}</dd>
        </dl>
      {{/if}}

      <h3 class="tabular__sub">Year To Date Totals</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Total Gross Pay</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Gross For Tax</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Earnings for National Insurance</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Employer Pension Contribution</dt>
        <dd class="tabular__value">&pound;00.00</dd>
      </dl>

      <h3 class="tabular__sub">Misc</h3>
      <dl class="tabular__row">
        <dt class="tabular__key">Week</dt>
        <dd class="tabular__value">1</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Employee No.</dt>
        <dd class="tabular__value">123456</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Tax Code</dt>
        <dd class="tabular__value">1000L M1</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Etc</dt>
        <dd class="tabular__value">Etc</dd>
      </dl>
    </div>
  </div>
</div>