<div class="card--wrap {{if flipped ' -flipped'}}">
  <div class="card--front">
    <h1>{{formattedProcessingDate}}</h1>
    {{payslip-donut-chart grossPay=payslip.grossPay netPay=payslip.netPay isActive=isActive}}
    <a class="notALink payslip--show" {{action 'flip'}}>
      {{svg-icon name="paper-list"}}
      <span>{{t 'payslips.breakdown'}}</span>
    </a>
    <a href="#" class="payslip--download">
      {{svg-icon name="download"}}
      <span>{{t 'payslips.download'}}</span>
    </a>
  </div>
  <div class="card--back">
    <div class="tabular">
      <a class="notALink tabular--close" {{action 'flip'}}>
        {{svg-icon name="x"}}
      </a>
      <h3 class="tabular--sub -title">19 March 2015</h3>
      <h3 class="tabular--sub -highlight brand-bg">Payments</h3>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Hours () Bartender 40/5 120 @ &pound;7.50</dt>
        <dd class="tabular--value">&pound;900.00</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Tips () Bartender 40/5 1 @ &pound;123.45</dt>
        <dd class="tabular--value">&pound;123.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide"><strong>Total Payments</strong></dt>
        <dd class="tabular--value"><strong>&pound;1,023.45</strong></dd>
      </dl>
      <h3 class="tabular--sub">Deductions</h3>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Tax</dt>
        <dd class="tabular--value">&pound;37.80</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">NI</dt>
        <dd class="tabular--value">&pound;43.25</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide"><strong>Total Deductions</strong></dt>
        <dd class="tabular--value"><strong>&pound;81.05</strong></dd>
      </dl>
      <h3 class="tabular--sub">This Period Totals</h3>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Total Gross Pay</dt>
        <dd class="tabular--value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Gross For Tax</dt>
        <dd class="tabular--value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Earnings for National Insurance</dt>
        <dd class="tabular--value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Employer Pension Contribution</dt>
        <dd class="tabular--value">&pound;00.00</dd>
      </dl>
      <h3 class="tabular--sub">Year To Date Totals</h3>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Total Gross Pay</dt>
        <dd class="tabular--value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Gross For Tax</dt>
        <dd class="tabular--value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Earnings for National Insurance</dt>
        <dd class="tabular--value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key -wide">Employer Pension Contribution</dt>
        <dd class="tabular--value">&pound;00.00</dd>
      </dl>
      <h3 class="tabular--sub">Misc</h3>
      <dl class="tabular--row">
        <dt class="tabular--key">Week</dt>
        <dd class="tabular--value">1</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key">Employee No.</dt>
        <dd class="tabular--value">123456</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key">Tax Code</dt>
        <dd class="tabular--value">1000L M1</dd>
      </dl>
      <dl class="tabular--row">
        <dt class="tabular--key">Etc</dt>
        <dd class="tabular--value">Etc</dd>
      </dl>
    </div>
  </div>
</div>