<div class="card__wrap {{if flipped 'card__wrap--flipped'}}">
  <div class="card__front">
    <h1>{{formattedProcessingDate}}</h1>
    {{payslip-donut-chart grossPay=payslip.grossPay netPay=payslip.netPay isActive=isActive}}
    <a class="notALink payslip__show card__flipme" {{action 'flip'}}>
      {{svg-icon name="paper-list"}}
      <span>{{t 'payslips.breakdown'}}</span>
    </a>
    <a href="#" class="payslip__download">
      {{svg-icon name="download"}}
      <span>{{t 'payslips.download'}}</span>
    </a>
  </div>
  <div class="card__back">
    <div class="tabular">
      <a class="notALink tabular__close" {{action 'flip'}}>
        {{svg-icon name="x"}}
      </a>
      <h3 class="tabular__sub tabular__sub--title">19 March 2015</h3>
      <h3 class="tabular__sub tabular__sub--highlight brand-bg">Payments</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Hours () Bartender 40/5 120 @ &pound;7.50</dt>
        <dd class="tabular__value">&pound;900.00</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Tips () Bartender 40/5 1 @ &pound;123.45</dt>
        <dd class="tabular__value">&pound;123.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>Total Payments</strong></dt>
        <dd class="tabular__value"><strong>&pound;1,023.45</strong></dd>
      </dl>
      <h3 class="tabular__sub">Deductions</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Tax</dt>
        <dd class="tabular__value">&pound;37.80</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">NI</dt>
        <dd class="tabular__value">&pound;43.25</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide"><strong>Total Deductions</strong></dt>
        <dd class="tabular__value"><strong>&pound;81.05</strong></dd>
      </dl>
      <h3 class="tabular__sub">This Period Totals</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Total Gross Pay</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Gross For Tax</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Earnings for National Insurance</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Employer Pension Contribution</dt>
        <dd class="tabular__value">&pound;00.00</dd>
      </dl>
      <h3 class="tabular__sub">Year To Date Totals</h3>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Total Gross Pay</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Gross For Tax</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Earnings for National Insurance</dt>
        <dd class="tabular__value">&pound;1,023.45</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key tabular__key--wide">Employer Pension Contribution</dt>
        <dd class="tabular__value">&pound;00.00</dd>
      </dl>
      <h3 class="tabular__sub">Misc</h3>
      <dl class="tabular__row">
        <dt class="tabular__key">Week</dt>
        <dd class="tabular__value">1</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Employee No.</dt>
        <dd class="tabular__value">123456</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Tax Code</dt>
        <dd class="tabular__value">1000L M1</dd>
      </dl>
      <dl class="tabular__row">
        <dt class="tabular__key">Etc</dt>
        <dd class="tabular__value">Etc</dd>
      </dl>
    </div>
  </div>
</div>